h2 sup {
    top: -10px;
}
h3, h4 sup {
	top:  -5px !important;
}
.bonuses{
	background: #043769;
	padding: 20px;
	margin: 0 auto;
}
.bonuses h3{
	color: white;
	margin-bottom: 0px;
}
.bg-white-new{
	background-color: #ffffff;
	border: #163f68 solid 1px;
}
.benefits-section .card {
	background: #F7ECDD !important;
	margin-left: 15px;
	margin-right: 15px;
}

.benefits-section .card-title {
	color: #ad231b;
	font-size: 22px;
	z-index: 3;
	position: relative;
}

.benefits-section .card-text {
	font-size: 18px;
	z-index: 3;
	position: relative;
}

img.border-testimonial {
	box-sizing: border-box;
	border-style: solid;
	border-width: 6px;
	border-color: #ffffff;
	box-shadow: 0px 3px 4px 2px rgb(0 0 0 / 30%);
}
img.left-pic{
	margin-right: 20px;
	float: left;
	display: inline-block;
}
img.test-left-pic{
	margin-right: 20px;
	float: left;
	display: inline-block;
}

@media screen and (max-width: 480px){
	h3 {
		    line-height: 1.5rem !important;
		}	
	.highlight-h3 {
		line-height: 1.25em;
	}
		.d-flex{
		
		flex-wrap: wrap;
	
	}	
	.d-flex h5{
		font-size: 19px !important; 
		font-weight: bold;
	}
		.benefits-section .card-text {
	font-size: 18px;
	z-index: 3;
	position: relative;
}

	.benefits-section .card {
	background: #F7ECDD !important;
	margin-left: 0px;
	margin-right: 0px;
}
	.mbg-title{
		font-size: 26px;
		line-height: 40px !important;
	}
	.mbg-logo{
		max-width: 70%;
	}
}
@media (max-width: 640px) {
	h1 sup,
	h2 sup {
		top: -5px !important;
	}
	p sup, .check-list li sup {
    top: -2px!important;
}	
.center-align-testimonial{
		margin-left: auto !important;
		margin-right: auto !important;
		margin-top: 10px !important;
		margin-bottom: 20px !important;
		float: none !important;
		display: block !important;
		text-align: center !important;
	}
.sig-m {
	width: 60% !important;
}
img {
    max-width: 90% !important;
}
.img-100 {
    max-width: 100% !important;
}
.img-105 {
    max-width: 105% !important;
}
.img-wrap2 {
	max-width: 100% !important;
}

}